@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .clip__path {
        clip-path: polygon(0 0, 100% 1%, 100% 85%, 50% 100%, 0 85%, 0 36%);
    }
    .heading{
        @apply text-[30px] md:text-[35px] lg:text-[45px] xl:text-[50px] uppercase font-bold text-gray-900
               md:leading-[4rem] sm:leading-[3rem] text-center
    }
}

input[type='date']::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

input[type='time']::-webkit-calendar-picker-indicator{
    filter: invert(1);
}